<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.complyglobal">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Splashscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.EntityChangePopActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".activity.AboutUs" />

        <service
            android:name=".service.NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".activity.NotificationReceiver" />
        <activity android:name=".activity.ComplianeDetailsActivity" />

        <receiver android:name=".service.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="app.complyglobal.NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.AfterLoginFirstTimePage" />
        <activity
            android:name=".activity.UserAccount"
            android:label="@string/title_activity_user_account"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CheckedList"
            android:label="@string/title_activity_checked_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Registrations"
            android:label="@string/title_activity_registrations"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CalendarCompliance"
            android:label="Calendar Compliance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CheckedListPage"
            android:label="@string/title_activity_checked_list_page"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CalendarComplianceListPage"
            android:label="@string/title_activity_calendar_compliance_list_page"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RegisterListPage"
            android:label="@string/title_activity_register_list_page"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RegistrationListPage"
            android:label="@string/title_activity_registration_list_page"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>